/*  your css code here. If applicable */
body{
	background-color:black;
}
#animal-photos{
	background-color:orange;
}
#photo-heading{
	background-color:skyblue;
	text-align:center;
	padding:10px;
	color:white;
}
img{
	margin-left:10px;
	padding-bottom:5px;
	border-radius:50px;
	margin-top:15px;
	cursor:pointer;
}
#photo-heading:hover{
	color:red;
	cursor:pointer;
}